/* .large{
    width: 200px;
    height: 200px;
    background: green;
    margin: 10px;
}

.medium {
    width: 150px;
    height: 150px;
    background: green;
    margin: 10px;
}

.small {
    width: 100px;
    height: 100px;
    background: green;
    margin: 10px;
} */